@import "tailwindcss";
@plugin "daisyui";

[data-theme="light"] {
  --accent: oklch(0.7 0.25 260);
  --success: oklch(0.65 0.15 155);
}

[data-theme="dark"] {
  --accent: oklch(0.7 0.25 260);
  --success: oklch(0.65 0.15 155);
}